[project]
name = "shared-models"
version = "0.1.1"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "black>=25.11.0",
    "phonenumbers>=9.0.19",
    "pydantic>=2.12.4",
]
